.icon-48-contactfields {
      background-image: url(../images/l_contactfields.png);
      padding-left:60px!important;
}

.icon-48-contactfield {
      background-image: url(../images/l_contactfields.png);
      padding-left:60px!important;
}

