.icon-48-medlems {
      background-image: url(../images/l_medlems.png);
      padding-left:60px!important;
}

.icon-48-medlem {
      background-image: url(../images/l_medlems.png);
      padding-left:60px!important;
}

.icon-48-udviklings {
      background-image: url(../images/l_udviklings.png);
      padding-left:60px!important;
}

.icon-48-udvikling {
      background-image: url(../images/l_udviklings.png);
      padding-left:60px!important;
}

